html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4 {
  margin: 0;
}

article, main {
  margin: 2rem 1rem;
  border-top: .2rem solid #e2e2e2;
}

header div {
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  justify-content: space-around;
}

a {
  color: #3783a3;
}

article p:first-child {
  font-size: 2rem;
  text-align: center;
  margin: 1rem .5rem 1.5rem;
}

article p:last-child {
  text-align: center;
  margin: 0 1rem;
}

h3 {
  margin-top: 1rem;
}

h4 {
  margin-bottom: .5rem;
}

.btn {
  background-color: white;
  border: .2rem solid #3783a3;
  border-radius: .3rem;
  padding: .5em 1em .6em;
  display: block;
}

main div {
  margin-top: 1rem;
}

footer {
  border-top: .2rem solid #e2e2e2;
}

footer p {
  text-align: center;
}
